*{
    margin: 0;
    padding: 0;
}

header{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: white;

}

ul {
    text-decoration: none;
}

.header {
    padding-top: .5rem;
    background-color: orange;
}


.link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.logo {
    max-width: 10rem;
    background-color: orange;
}
